.App {
    text-align: center;
}
  
.word-container {
    padding-left: 3em;
    padding-right: 3em;
    margin-top: 3em;
}
  

table {
    display: flex;
    justify-content: center;
    border: 1px solid gray;
}
td {
    border: 1px solid gray;
    width: 30em;
}